<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.gere0018.show0017.myPhotos" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyPhotos</name>
    <description>
        Final Project for MAD9022.
    </description>
    <author email="gere0018@algonquinlive.com" href="https://github.com/gere0018/my-photos">
        Nehmat and Wael Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
