/*************************************
        Defaults
*************************************/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;

}

html,body{
  height: 100%;
}

body {
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

#background{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url("../img/ivory-cream-colored-leather-texture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.vertical-center{
    position: relative;
    top: 50%;
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
}

/*************************************
        ClearFix
*************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/*************************************
        Pages Layout
*************************************/
[data-role=page]{
  position:absolute;
  z-index:5;
  top:2rem;
  left:0;
  width:100%;
  display:none;
  min-height:100%;
  color: #755F48;
/*    background-image: url("paper.gif");*/
  padding:1rem;
  overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

[data-role="page"].active-page {
           display:block;
            z-index:10;
}

[data-role=overlay]{
  display: none;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.82);
}

[data-role=modal]{
  display:none;
  position:fixed;
  top:20%;
  left:10%;
  width: 80%;
  z-index:15;
  max-height:80%;
  padding:5vh;
  border:1px solid #B0B0B0;
  min-height:10%;
  color:#fff;
  background-color:#D6789E;
  box-shadow:1px 1px 2px rgb(0,0,0);
}
/*************************************
        view Photos page details
*************************************/
#viewPhotos p{
    text-align: center;
}





/*************************************
        takePhoto page details
*************************************/
#photo-canvas{
  width: 90%;
  height: 100%;
  border: 1px dashed #755F48;
}

#takePhoto .col-2{
  float: left;
  width: 75%;
  height: 100%;
}
#takePhoto .col-2:last-child{
  width: 25%;
}

/* ------------ Header ------------ */
/* -------------------------------- */
/*#C8B6A3  #FBF9F8  #F6F4F1 #A98D71 #664D34*/
header{
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
/*  margin-top: 1.75rem;*/
  z-index: 15;
  background-color: #F6F4F1;
  color: #755F48;
  padding: 1rem;
}

[data-role="gridView"]{
  list-style:none;
}
[data-role="gridView"] li{
  cursor:pointer;

}

/* ------------- Grid ------------- */
/* -------------------------------- */

.col-container {
margin: 3rem 0;
}
/* -- Col-4 -- */

.col-4 {
float: left;
/* -- 19 + 19 + 19 + 19 = 82 -- */
width: 19%;
/* -- 6 + 6 + 6 +6 = 24 --*/
margin: 0 3%;
}


.col-4 svg{
    margin-left: 36%;
}

/************** Col - 2 *************/
footer .col-container{
  margin: 0 auto;
  width: 11%;
}

.col-2{
    float: left;
    height: 4rem;
    padding-left: 10px;
}


/*************************************
        Footer
*************************************/
footer {
    color: #755F48;
    background-color: #F6F4F1;
    position: fixed;
    bottom: 0;
    height: 60px; /* same height as header. */
    width: 100%;
    z-index: 10;
    font-size: 0.75rem;
}

.nav ul{
    list-style: none;
}

.nav ul li a{
text-decoration: none;
color: #755F48;
}

.nav [data-role="pagelink"].active-link{
}

/*************************************
        Form styling
*************************************/
.formBox{
  padding: 0.6rem 0;
}

input[type="button"]{
  /* Stop Safari Mobile from adding rounded corners to input buttons by default.*/
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="button"],
input[type="text"]{
  border: 0;
  line-height: 1.6rem;
  font-size: 1.2rem;
  padding:0 1rem;
  width:100%;
  color: #755F48;
}
input[type="text"]:focus,
input[type="text"]:active{
  outline: 2px solid #755F48;
}

.btn{
    width: 100%;
    height: 2.5rem;
    outline: 1px solid #755F48;
    background-color: #F6F4F1;
}

.btn:hover,
.btn:focus,
.btn:active{
    color: #F6F4F1;
    background-color: #755F48;

}

.radio-button{
  display: block;
}

fieldset.radiogroup  {
  padding: 3%
}

fieldset.radiogroup legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-left: 20px;
}

/*************************************
        SVG Icons styling
*************************************/
svg[data-icon-name],
svg[data-icon-animate]{
    width: 32px;
    height: 32px;
}


[data-role="pagelink"].active-link svg[data-icon-name] *{
  fill: #755F48;
  stroke: none;
}
