/*************************************
        Defaults
*************************************/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    background-image: url("../img/ivory-cream-colored-leather-texture.jpg");
    min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}

/*************************************
        ClearFix
*************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


.vertical-center{
    position: relative;
    top: 50%;
    -webkit-transform:translateY(-50%);
    transform: translateY(-50%);
}


/*************************************
        Pages Layout
*************************************/
[data-role=page]{
  position:absolute;
  z-index:5;
  top:2rem;
  left:0;
  width:100%;
  display:none;
  min-height:100%;
  color:#FFFFFF;
/*    background-image: url("paper.gif");*/
  padding:1rem;
  overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

[data-role="page"].activePage {
           display:block;
            z-index:10;
}

[data-role=overlay]{
  display: none;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.82);
}

[data-role=modal]{
  display:none;
  position:fixed;
  top:20%;
  left:10%;
  width: 80%;
  z-index:15;
  max-height:80%;
  padding:5vh;
  border:1px solid #B0B0B0;
  min-height:10%;
  color:#fff;
  background-color:#D6789E;
  box-shadow:1px 1px 2px rgb(0,0,0);
}

/* ------------ Header ------------ */
/* -------------------------------- */
/*#C8B6A3  #FBF9F8  #F6F4F1 #A98D71 #664D34*/
header{
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
/*  margin-top: 1.75rem;*/
  z-index: 15;
  background-color: #F6F4F1;
  color: #755F48;
  padding: 1rem;
}

[data-role="gridView"]{
  list-style:none;
}
[data-role="gridView"] li{
  cursor:pointer;

}

/* ------------- Grid ------------- */
/* -------------------------------- */

.col-container {
margin: 3rem 0;
}
/* -- Col-4 -- */

.col-4 {
float: left;
/* -- 20.5 + 20.5 + 20.5 + 20.5 = 82 -- */
width: 20.5%;
/* -- 6 + 6 + 6 = 18 --*/
margin: 0 0 0 6%;
}

.col-4:first-child {
margin-left: 0;
}
.col-4 svg{
    margin-left: 40%;
}

/************** Col - 2 *************/
footer .col-container{
  margin: 0 auto;
  width: 11%;
}

.col-2{
    float: left;
    height: 4rem;
    padding-left: 10px;
}


/*************************************
        Footer
*************************************/
footer {
    color: #755F48;
    background-color: #F6F4F1;
    position: fixed;
    bottom: 0;
    height: 60px; /* same height as header. */
    width: 100%;
    z-index: 10;
    font-size: 0.75rem;
}

/*************************************
        SVG Icons styling
*************************************/
svg[data-icon-name],
svg[data-icon-animate]{
    width: 32px;
    height: 32px;
}


